header.header
    .header__body.container
        p.logo LoremIpsum.
            span.logo_blue Net
        .header__menu
            a(href="#").item бизнес
            a(href="#").item о нас
            a(href="#").item цены
            a(href="#").item оформление

        .mobile-menu
            .burger
                .burger-item
                .burger-item
                .burger-item

                .mobile-submenu
                    a(href="#").item бизнес
                    a(href="#").item о нас
                    a(href="#").item цены
                    a(href="#").item оформление