.footer
    .footer__body.container
        .trademark © 2018 «LOREMIPSUM.NET» Все права защищены.
        .separation |
        .payment
            .payment__item
                .img
                | Qiwi wallet
            .payment__item
                .img
                | Yandex Money
            .payment__item
                .img
                | Web Money
        .separation |
        .contacts
            a(href="mailto:info@ipsum228.com") info@ipsum228.com
            a(href="#") Мы вконтакте