extends assets/blocks/layout/layout

block header
    include assets/blocks/header/header
block lorem-ipsum
    include assets/blocks/lorem-ipsum/lorem-ipsum
block ordering
    include assets/blocks/ordering/ordering
block footer
    include assets/blocks/footer/footer